body{
    background-color: gray;
}
div{ background-color:orange;
    padding: 3% 2% 2%  2%;
    border-radius: 5%;
    border: groove gray 14px;
    width: 25%;
    color: bold black;
    text-align: initial;
    margin: 5% 30% 30% 30%;
}