body {
    background-color: rgb(1, 1, 32);
}

div {
    background-color: rgb(4, 180, 250);
    margin: 8% 30% 5% 30%;
    text-align: center;
    padding-top: 10px;
    border: groove gray;
    border-width: 10px;
    border-radius: 5px;
}

hr {
    width: 70%;
}

form {
    text-align: left;
    padding-left: 40px;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    div {
        background-color: rgb(240, 79, 15);
        margin: 0%;
        text-align: center;
        padding-top: 10px;
        border-radius: 5px;
    }
}